{{$Name := .Name}}
{{$Root := .Root}}
{{range .Definition.Links}}
  {{asComment .Description}}
  func (c *Client) {{printf "%s-%s" $Name .Title | initialCap}}({{$Root.Parameters . | params}}) (error) {
    {{$Var := initialLow $Name}}var {{$Var}} {{initialCap $Name}}
    return &{{$Var}}, c.{{methodCap .Method}}(&{{$Var}}, fmt.Sprintf("{{.HRef}}"))
  }
{{end}}