// Generated service client for {{.}} API.
//
// To be able to interact with this API, you have to
// create a new service:
//
//     s := {{.}}.NewService(nil)
//
// The Service struct has all the methods you need
// to interact with {{.}} API.
//
package {{.}}
